body
    font-family general_text

h2
    font-family font_title
    font-size: 2em;
    margin-bottom: 1em;

p
    font-family general_text
    font-size 1em

a
    color color_secundary

.center
    text-align center
