.section
    &--container
        padding 2.6em 2.2em

        &__description
            margin-bottom 2.2em

        &__list
            display flex
            justify-content center


            &--center
                align-items center
